html,
body {
    font-family: 'Raleway', serif;
    color: #666;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: 'Raleway', serif;
}



root {
    display: block;
}

#userID {
    text-align: right;
}

#html5images {
    text-align: center;
}

#html5images img {
    width: 64px;
    height: 64px;
}

h2 {
    text-align: center;
}

table {
    text-align: center;
    padding: 5;
    border-spacing: 10;
    margin: auto;
}


.label {
    vertical-align: top;
    text-align: left;
}

.label p {
    color: blue;
}

.value {
    vertical-align: central;
    background-color: #E8E8E8;
    text-align: left;

}

#resultID, #newBid {
    text-align: center;
}

#comboID {
     width: 300px;
}

.innertable {
    text-align: center;
    padding: 5;
    border-spacing: 10;
}

.centered {
    text-align: center;
}


.copy {
    background-color:rgba(0,0,0,0.8);;
    padding: 2em 0;
    text-align: center;
    color: #fff
}
.copy p {
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}
.copy p a {
    color: #fff;
}
.copy p a:hover {
    color: #999;
}

#bidheader{
    text-align: center;
}